/* aula 1 - seletores */

/* Seletor universal 
*
 {
	border: 1px solid red;
}



/* Seletor de texto 
h1{
	color: green;
}


/* Seletor de classe 

p.verde{
	color: green;
}

/* Seletor de id

#cabecalho{
	border: 1px solid blue;
}

/* Seletor de filho 

li > a {
	color: red;
	text-decoration: none;
}


/* Seletor de descendente 

div a {
	color: darkcyan;
}

/* Seletor de irmão adjacente 

h1 + p {
	color: red;
}


/*  Seletor de irmão geral 


h2 ~ p {
	color: yellowgreen;
}





/* aula 2 - Herança e especificidade 

#pagina p{
	color: red;
}

p {
	color: blue;
}
*/

/* Entre dois seletores, sempre o mais
específico será aplicado. Caso os dois 
sejam iguais será aplicado o que vem por último 

IMPORTANTE: Elementos com a regra "!IMPORTANT" são
exceções e sempre possuem a prioridade
*/

/* ordenado do menos específico para o mais específico 
* { /* 4 
	color: red;
}

h2 { /* 3 
	color: blue;
}

h2.verde { /* 2
	color: green;
}

h2#amarelo { /* 1 
	color: yellow;
}
*/


/* aula 3 - barra de navegação vertical 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 10px 20px;
	background: url(../imagens/seta.png) no-repeat left center;
}

*/

/*ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	background: #f7b600 url(../imagens/menu.png) no-repeat left center;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;

/* aula 4 - selecionando página atual */

/* a:hover, .selecionado a {  seleção manual 
	background-position: right center;
	background-color: #f99200;
	color: #fff;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a{ /* seletor por página com menu específico 
	background-position: right center;
	background-color: #f99200;
	color: #fff;
}*/

/* aula 5 - barra de navegação horizontal */

ul#navegacao {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul#navegacao li {
	float: left;
}

ul#navegacao a {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y;
}

ul#navegacao .primeiro a {
	background-image: none;
}

ul#navegacao a:hover,
#home .home a,
#sobre .sobre a
{
	color: #085662;
	background: #44cade;
}